@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.hero-section{
    background: url(../assets/images/herobg.jpg) no-repeat center;
    background-size: cover;
    height: 80vh;
    width: 100%;
}

.product-section{
    padding: 3rem 0;
}
.product-container{
    max-width: 80%;
    margin: 0 auto;
}

.product-section .product-title{
    box-shadow: 0 0 15px 2px rgb(0 0 0 / 5%);
    padding: 1.6rem 3rem;
    text-align: center;
    color: rgb(81, 80, 80);
    margin-bottom: 2rem;
}

.product-title .title-heading{
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;
}
.product-title p{
    font-size: 1rem;
}

.product-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.product-contents .product-card{
    width: 31%;
    margin-bottom: 1.5rem;
    padding: 2rem 1.5rem;
    box-shadow: 0 0 15px 2px rgb(0 0 0 / 5%);
}

.product-card .product-card-image{
    text-align: center;
    margin: 1rem 0;
}
.product-card .product-card-title{
    text-align: end;

}
.product-card .product-card-para{
    font-size: 14px;
    margin: 10px 0;
}
.product-card .product-card-link{
    margin-top: 15px;
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: rgb(112, 191, 86);
    width: 100%;
    display: block;
    text-align: center;
    padding: 1rem 3rem;
}








@media screen and (max-width: 768px) {
    .product-section .product-title{
        padding: 0.6rem;
    }
    .product-container{
        max-width: 90%;
    }
    .product-contents .product-card{
        width: 100%;
        padding:1.5rem 1rem;
    }

  }