/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nunito', sans-serif;
}

.row{
  max-width: 90%;
  margin: 0 auto;
  /*border: 2px solid red; */
}

@media screen and (max-width: 768px) {
/* =============navbar============ */
ul .menu-list{
  display: none;
}

header nav .hamburger-icon{
  display: block;
  margin-right: 10px;
}
.top-nav .top-nav-btn .nav-search-icon{
  width: 30px;
  height: 30px;
  /* border: 3px solid red; */
  margin-top: 5px;
}
.top-nav .top-nav-cart .cart-icon{
  margin-top: 5px;
}
.top-nav .top-nav-btn button{
  padding: 0.6rem 1.5rem;
  margin-right: 0.8rem;
}
.top-nav-cart .create-store{
  display: none;
}

/* =============================Start of Mobile Menu Card=================================== */

.mobile_menu-wrapper {
  display: none!important;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  background-color: antiquewhite;
  /* position: fixed; */
  overflow-y: auto;
  top: 0;
  left: 0;
  z-index: 1000;
  /* transform: translateX(-100%);
  transition: all 0.5s ease; */
  /* opacity: 0; */

}
.mobile_menu-card ul{
  list-style: none;
}
.mobile_menu-card ul li{
  padding: 1rem 0;
}
.mobile_menu-card ul li a{
  text-decoration: none;
  font-size: 1.5rem;
  color: #000;
  font-weight: bold;
}
.mobile_menu-card .mobile-socio{
  margin: 8px;
  border-top: 1px solid #858383;
  border-bottom: 1px solid #858383;
  /* border: 1px solid red; */
  padding: 2rem;
  width: 100%;
}

/* =============================End of Mobile Menu Card=================================== */

/* ================hero section==================== */
.hero-wrapper .hero_wrapper-contents h1{
  font-size: 2rem;
}
.hero-wrapper .hero_wrapper-contents p{
  text-align: center;
  padding: 0 10px;
}

.hero-wrapper .hero_wrapper-contents .start-shopping-link{
  font-size: 14px;
  width: 80%;
  padding: 0.6rem 1rem;
}


  /* ==========product section======== */
  .product-section .product-container .product-title{
    padding: 0.4rem;
}
.product-section .product-container{
    max-width: 90%;
    /* border: 2px solid red; */
}
.product_section-wrapper  .product-contents .product-card{
    width: 100%;
    padding: 1.5rem 1rem;
    height: 100%;
    /* border: 2px solid red; */
}

.product_section-wrapper .proceed-to-cart-button{
  margin: 2rem 0;
  width: 100%;
}
.product_section-wrapper .proceed-to-cart-button a{
  font-size: 1.2rem;
  width: 80% ;
  padding: 0.6rem 0.8rem;
}
.product-title .product_title-content p{
  text-align: justify;
}
.product-title .product_title-content{
  width: 90% !important;
} */


/* ================her0 404 =============== */
  .hero-404{
    height: 60%;
    width: 90%;
  }
  
  .hero-404 .hero_404-contents{
    width: 100%;
    padding: 10px;
  }
  .hero-404 .hero_404-contents h3{
    font-size: 1.2rem;
  }
  .hero-404 .hero_404-contents p{
    font-size: 1.2rem;
    line-height: 1;
    padding-top: 5px;
    text-align: center;
  }

  /* ===============Admin page ================== */
  .withdraw-wrapper .withdraw_wallet-card{
    width: 90%;
    height: 40%;
  }
  .withdraw_wallet-card h1{
    font-size: 1.3rem;
  }
  
  .withdraw_wallet-card a{
    margin-top: 1rem;
    font-size: 14px;
    background-color: rgb(112, 191, 86);
    border-radius: 5px;
    width: 80%;
    padding: 0.6rem 2rem;
  }


  /* ==================== Footer  ==================== */
  footer{
    padding: 1rem;
  }
  footer .footer_wrapper{
    display: flex;
    flex-wrap: wrap;
  }
  footer .footer_wrapper .footer_column{
    width: 100%;
    /* padding: 0 0.5rem; */
  }
  footer .footer_wrapper .footer_column_b{
    width: 45%;
  }
  footer .footer_wrapper .social-mobile{
    display: block!important;
  }
  .footer_wrapper .social-mobile .footer_social_icon-mobile{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
  }
  .footer_wrapper .social-mobile .footer_social_icon-mobile i{
    font-size: 1rem;
    border: 1px solid rgb(112, 191, 86);
    padding: 8px;
    color: rgb(112, 191, 86);
    border-radius: 50%;
    margin: 5px;
  }
  .footer_column .footer_social_icon{
    display: none;
  }
  .footer_wrapper .footer_column .footer_newsletter-input input{
    width: 50%;
  }
  .footer_column .footer_newsletter-input input{
  padding: 0;

}
.footer_column .footer_newsletter-input button{
  padding: 10px;}
}