/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nunito', sans-serif;
}

.row{
  max-width: 90%;
  margin: 0 auto;
  /*border: 2px solid red; */
}

/*================================Header section=======================*/
.top-nav-container{
  background-color: rgb(43, 135, 215);
  /* padding: 10px 0; */
}
.top-nav{
  display: flex;
  justify-content: space-between;
  background-color: rgb(43, 135, 215);
  padding: 10px 0;
}
.top-nav-btn{
  display: flex;
}
.top-nav-btn button{
  background-color: rgb(214, 30, 211);
  border: none;
  padding: 0.8rem 2rem;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 1.2rem;
}
.top-nav-btn i{
  color: #FFFFFF;
  font-size: 1.3rem;
}
.top-nav-cart{
  display: flex;
  align-items: center;
}
.top-nav-cart a{
  color: #FFFFFF;
  margin-right: 10px;
}




nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0;
}
nav ul{
  display: flex;
  padding-left: 4rem;
  align-items: center;
}
nav ul li{
  list-style: none;
  padding: 10px;
}
nav .left-nav{
  display: flex;
  align-items: center;
}
/*================================hero section=======================*/


.hero-wrapper{
  text-align: center;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  width: 90%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* From https://css.glass */
background: rgba(245, 239, 239, 0.5);
box-shadow: 0 4px 30px rgba(240, 233, 233, 0.1);
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(0px);

}
.hero-section-wrapper .start-shopping-link{
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: rgb(112, 191, 86);
  border-radius: 5px;
  width:20%;
  display: inline-block;
  padding: 1rem ;
}
.hero-text{
  color: #0c0101;
  font-weight: 600;
  font-size: 20px;
}
.hero-heading{
  color: #0f0101;
  font-weight: bold;
  font-size: 40px;
}

/*================================trending section=======================*/

.hero-section{
  background: url(../assets/images/hero.jpg) no-repeat center;
  background-size: cover;
  height: 80vh;
  width: 100%;
}

.product-section{
  padding: 3rem 0;
}
.product-container{
  max-width: 80%;
  margin: 0 auto;
}

.product-section .product-title{
  box-shadow: 0 0 15px 2px rgb(0 0 0 / 5%);
  padding: 1.6rem 3rem;
  text-align: center;
  color: rgb(81, 80, 80);
  margin-bottom: 2rem;
}

.product-title .title-heading{
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: bold;
}
.product-title p{
  font-size: 1rem;
}

.product-contents{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.product-contents .product-card{
  width: 31%;
  margin-bottom: 1.5rem;
  padding: 2rem 1.5rem;
  box-shadow: 0 0 15px 2px rgb(0 0 0 / 5%);
}

.product-card .product-card-image{
  text-align: center;
  margin: 1rem 0;
}
.product-card .product-card-title{
  text-align: end;

}
.product-card .product-card-para{
  font-size: 14px;
  margin: 10px 0;
}
.product-card .product-card-link{
  margin-top: 15px;
  font-size: 14px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: rgb(112, 191, 86);
  border-radius: 5px;
  width: 100%;
  display: block;
  text-align: center;
  padding: 1rem 3rem;
}
.proceed-to-cart-button{
  margin: 3rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.proceed-to-cart-button a{
  color: rgb(112, 191, 86);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 30%;
  text-decoration: none;
  padding: 1rem;
  border: 3px solid rgb(112, 191, 86);
  border-radius: 5px;
}


@media screen and (max-width: 768px) {
  .product-section .product-title{
      padding: 0.6rem;
  }
  .product-container{
      max-width: 90%;
  }
  .product-contents .product-card{
      width: 100%;
      padding:1.5rem 1rem;
  }

}


/* ===============================footer section========================= */
footer{
  border: 1px solid rgb(230, 227, 227);
  padding: 2.5rem 0;
}
h3{
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}
p{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
}

.footer_wrapper{
  display: flex;
  justify-content: space-between;
}
/* .footer_column p{
  padding-right: 0.8rem;
} */
.footer_wrapper .footer_column{
  width: 30%;
  padding: 0 0.5rem;
  /* border: 2px solid blue; */
}
.footer_wrapper .footer_column_b{
  width: 12%;
  /* border: 2px solid blue; */
}

.footer_column_b ul{
  list-style: none;
}

.footer_column_b ul li{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
}

.footer_column_b ul li a{
  text-decoration: none;
  color: #000000;
}

.deeco_logo{
  font-size: 1rem;
  border: 3px solid black;
  font-weight: bold;
  display: inline;
  padding: 0 0.5rem;
}

.footer_social_icon{
  width: 60%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}
.footer_social_icon i{
  font-size: 0.65rem;
  border: 1px solid blue;
  padding: 4px;
  color: blue;
  border-radius: 50%;
}