/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nunito', sans-serif;
}

header{
  border-bottom: 1px solid rgb(235, 232, 232);
}

.row{
  max-width: 90%;
  margin: 0 auto;
  /*border: 2px solid red; */
}

/*================================Header section=======================*/
.top-nav-container{
  background-color: rgb(43, 135, 215);
  /* padding: 10px 0; */
}
.top-nav{
  display: flex;
  justify-content: space-between;
  background-color: rgb(43, 135, 215);
  padding: 10px 0;
}
.top-nav-btn{
  display: flex;
}
.top-nav-btn button{
  background-color: rgb(214, 30, 211);
  border: none;
  padding: 0.8rem 2rem;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 1.2rem;
}
.top-nav-btn i{
  color: #FFFFFF;
  font-size: 1.3rem;
}
.top-nav-cart{
  display: flex;
  align-items: center;
}
.top-nav-cart a{
  color: #FFFFFF;
  margin-right: 10px;
}

.cart-icon{
  cursor: pointer;
  position: relative;
}
.cart-icon p{
  color: #FFFFFF;
  background-color: rgb(214, 30, 211);
  text-align: center;
  padding: 0 7px;
  border-radius: 50%;
  font-size: 1rem;
  position: absolute;
  top: -8px;
  right: -10px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0;
}
nav ul{
  display: flex;
  padding-left: 4rem;
  align-items: center;
}
nav ul li{
  list-style: none;
  padding: 10px;
}
nav ul li a{
  color: #000000;
  text-decoration: none;
}
nav .left-nav{
  display: flex;
  align-items: center;
}

/* =====================Hero Section ========================= */
.hero-container{
  background: url(../assets/images/hero.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_content-box{
  background: rgba(255,255,255,0.25);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(4.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70%;
  width: 70%;
}

.hero_content-box .hero-content{
  width: 50%;
  padding: 10px;
}
.hero_content-box .hero-content h3{
  font-size: 1.5rem;
}
.hero_content-box .hero-content p{
  font-size: 1.3rem;
  line-height: 1.3;
  padding-top: 10px;
}

/*================================trending section=======================*/

.hero-section{
  background: url(../assets/images/hero.jpg) no-repeat center;
  background-size: cover;
  height: 83vh;
  width: 100%;
}

.product-section{
  padding: 3rem 0;
}
.product-container{
  max-width: 80%;
  margin: 0 auto;
}

.product-section .product-title{
  box-shadow: 0 0 15px 2px rgb(0 0 0 / 5%);
  padding: 1.6rem 2rem;
  margin-bottom: 2rem;
  border: 2px solid red;
  display: flex;
  justify-content: center;
}

.product-title .product_title-content{
  color: rgb(81, 80, 80);
  width: 80%;
  text-align: center;
}

.product-title .title-heading{
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: bold;
}
.product-title p{
  font-size: 1rem;
}

.product-contents{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.product-contents .product-card{
  width: 31%;
  margin-bottom: 1.5rem;
  padding: 2rem 1.5rem;
  box-shadow: 0 0 15px 2px rgb(0 0 0 / 5%);
}

.product-card .product-card-image{
  text-align: center;
  margin: 1rem 0;
}
.product-card .product-card-title{
  text-align: end;

}
.product-card .product-card-para{
  font-size: 14px;
  margin: 10px 0;
}
.product-card .product-card-link{
  margin-top: 15px;
  font-size: 14px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: rgb(112, 191, 86);
  border-radius: 5px;
  width: 100%;
  display: block;
  text-align: center;
  padding: 1rem 3rem;
}
.proceed-to-cart-button{
  margin: 3rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.proceed-to-cart-button a{
  color: rgb(112, 191, 86);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 30%;
  text-decoration: none;
  padding: 0.8rem 1rem;
  border: 3px solid rgb(112, 191, 86);
  border-radius: 5px;
}



/* =====================404 page ========================= */
.hero_404-container{
  background: url(../assets/images/hero.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-404{
  background: rgba(255,255,255,0.25);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(4.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80%;
  width: 80%;
}

.hero-404 .hero_404-contents{
  width: 50%;
  padding: 10px;
}
.hero-404 .hero_404-contents h3{
  font-size: 1.5rem;
}
.hero-404 .hero_404-contents p{
  font-size: 1.3rem;
  line-height: 1.3;
  padding-top: 10px;
}

/* ==============Cart page============ */
.cart-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  width: 100%;
}
.cart-container .cart-hero{
  width: 50%;
}
.cart-hero .cart-404-title{
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 1.3;
  color: rgb(43, 135, 215);
  text-align: center;
  animation: pulse 2s infinite;
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
    opacity: 0.3;
	}

	70% {
		transform: scale(1);
    opacity: 1;
	}

	100% {
		transform: scale(0.95);
    opacity: 0.5;
	}
}

/* ================Admin page=============== */
.withdraw-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
.withdraw-wrapper .withdraw_wallet-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  box-shadow: 0 0 15px 2px rgb(0 0 0 / 5%);
  width: 30%;
  height: 40%;
  /* padding: 3.5rem 4rem; */
}
.withdraw_wallet-card h1{
  padding-bottom: 10px;
}
.withdraw_wallet-card h3{
  color: rgb(180, 13, 180);
}
.withdraw_wallet-card a{
  margin-top: 1rem;
  /* font-size: 14px; */
  text-decoration: none;
  color: #FFFFFF;
  background-color: rgb(112, 191, 86);
  border-radius: 5px;
  width: 80%;
  display: block;
  text-align: center;
  padding: 1rem 3rem;
}

/* =============================checkout page================================ */
.checkout-wrapper{
  max-width: 80%;
  margin: 0 auto;
  height: 100vh;
}
.checkout-top{
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.checkout_page-container{
  border: 2px solid blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.checkout_page-container .products-details{
  width: 45%;
  border: 2px solid blackj;
  height: 80vh;
}
.checkout_page-container .checkout-form{
  width: 55%;
  height: 80vh;
  border: 2px solid green;
}


/* ===============================footer section========================= */
footer{
  border: 1px solid rgb(230, 227, 227);
  padding: 2.5rem 0;
}
.footer_heading-title{
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}
.footer_para{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
}

.footer_wrapper{
  display: flex;
  justify-content: space-between;
}
/* .footer_column p{
  padding-right: 0.8rem;
} */
.footer_wrapper .footer_column{
  width: 30%;
  padding: 0 0.5rem;
  /* border: 2px solid blue; */
}
.footer_wrapper .footer_column_b{
  width: 12%;
  /* border: 2px solid blue; */
}

.footer_column_b ul{
  list-style: none;
}

.footer_column_b ul li{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
}

.footer_column_b ul li a{
  text-decoration: none;
  color: #000000;
}

.deeco_logo{
  font-size: 1rem;
  border: 3px solid black;
  font-weight: bold;
  display: inline;
  padding: 0 0.5rem;
}

.footer_social_icon{
  width: 60%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}
.footer_social_icon i{
  font-size: 1rem;
  border: 1px solid rgb(112, 191, 86);
  padding: 8px;
  color: rgb(112, 191, 86);
  border-radius: 50%;
}